*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #eee; }

.heading {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #fff; }
  @media (max-width: 56.25em) {
    .heading {
      left: 37%; } }
  @media (max-width: 37.5em) {
    .heading {
      left: 50%; } }
  .heading--main {
    font-size: 5rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: .6rem;
    padding: 1rem 2rem;
    animation-name: moveInLeft;
    animation-duration: 3s; }
    @media (max-width: 37.5em) {
      .heading--main {
        font-size: 3rem; } }
  .heading--sec {
    font-size: 7rem;
    display: block;
    letter-spacing: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 3s;
    padding: 1rem 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #000428 0%, #004e92 35%);
    border-radius: 5px; }
    @media (max-width: 37.5em) {
      .heading--sec {
        font-size: 4.5rem;
        letter-spacing: 1rem;
        padding: .7rem 1.5rem; } }

.paragraph {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px); }
  80% {
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.header {
  position: relative;
  z-index: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 96%; }
  @media (max-width: 37.5em) {
    .header {
      top: 7%;
      left: 50%;
      margin-top: 0%;
      margin-right: 0.1rem; } }

.section-banner {
  background-color: #05386b;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 92% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%); }
  @media (max-width: 37.5em) {
    .section-banner {
      clip-path: polygon(0 0, 100% 0, 100% 92%, 82% 100%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 82% 100%, 0 100%); } }

.container {
  margin: auto;
  width: 112rem; }
  @media (max-width: 56.25em) {
    .container {
      width: 90rem; } }
  @media (max-width: 37.5em) {
    .container {
      width: 90%; } }

.section-about {
  padding: 20rem 0rem; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 10rem 0rem; } }

.flex {
  display: flex; }
  @media (max-width: 37.5em) {
    .flex {
      display: block;
      width: 100%; } }

.section-projects {
  padding: 15rem 0;
  background-color: #05386b;
  clip-path: polygon(8% 0, 100% 0, 100% 95%, 0 100%, 0 8%);
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 95%, 0 100%, 0 8%); }
  @media (max-width: 37.5em) {
    .section-projects {
      padding: 10rem 0rem;
      clip-path: polygon(16% 0, 100% 0, 100% 97%, 0 100%, 0 3%);
      -webkit-clip-path: polygon(16% 0, 100% 0, 100% 97%, 0 100%, 0 3%); } }

.footer {
  padding: 9rem 0;
  background-color: #05386b;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%); }

.project-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.section-contact {
  padding: 15rem 0; }
  @media (max-width: 37.5em) {
    .section-contact {
      padding: 10rem 0rem; } }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 7rem;
  height: 28rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 37.5em) {
    .nav {
      width: 28rem;
      height: 7rem; } }
  .nav__list {
    list-style: none; }
    @media (max-width: 37.5em) {
      .nav__list {
        display: flex;
        margin-top: 1.8rem; } }
  .nav__link {
    font-size: 1.6rem;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .nav__link {
        margin: 0rem 1rem; } }

.margin-bottom {
  margin-bottom: 1.2rem; }

.icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: #05386b;
  transition: all .2s; }
  .icon:hover {
    fill: #000; }

.about {
  flex: 0 0 50%;
  margin-right: 4rem; }
  @media (max-width: 37.5em) {
    .about {
      width: 100%; } }
  .about__me {
    height: 22rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
    @media (max-width: 37.5em) {
      .about__me {
        height: 28rem; } }
  .about__head {
    padding: 1rem 1.5rem;
    border-bottom: 2px solid #05386b;
    font-size: 1.2rem; }
  .about__content {
    padding: 1.5rem;
    font-size: 1.6rem; }
  .about__education {
    background-color: #05386b;
    height: 26rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
    @media (max-width: 37.5em) {
      .about__education {
        height: 30rem; } }

.blue {
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 1rem 1.5rem; }

.skill {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  .skill h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem; }
  @media (max-width: 37.5em) {
    .skill {
      margin-top: 5rem;
      width: 100%;
      height: 45rem; } }
  .skill__head {
    padding: 2rem 1rem;
    background-color: #05386b;
    clip-path: polygon(100% 0, 100% 0, 100% 57%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 57%, 0 100%, 0 0); }
    .skill__head h2 {
      margin-left: 1rem;
      color: #fff;
      font-size: 1.8rem; }
  .skill__content {
    margin-top: 3rem;
    text-align: center; }
  .skill__icon {
    height: 5rem;
    width: 5rem;
    margin: .6rem .7rem; }

.margin-top {
  margin-top: 2rem; }

.project {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 32rem));
  grid-gap: 5rem; }
  .project__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem;
    grid-row-gap: 3rem;
    border-radius: 5px; }
    .project__item img {
      grid-column: 1 / -1;
      justify-self: center;
      width: 20rem;
      height: 27rem;
      transform: rotate(-30deg) skew(25deg) scale(0.7);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
      transition: all .7s; }
      .project__item img:hover {
        transform: scale(1.2);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        width: auto; }

.detail {
  grid-column: 1 / -1;
  text-align: center;
  padding-top: 1rem;
  background-color: #eee;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  grid-row-gap: 3rem;
  height: 12rem;
  border-radius: 5px; }

.demo {
  background-color: #eee;
  grid-column: 1 / -1;
  margin-top: 2rem;
  padding-bottom: 1rem;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.btn {
  padding: 1rem 2.5rem;
  background-color: #05386b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 10rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2); }

.contact {
  display: flex;
  width: 70rem;
  margin: auto;
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  @media (max-width: 37.5em) {
    .contact {
      display: block;
      width: 90%; } }

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  text-align: center;
  background-color: #05386b;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }
  @media (max-width: 37.5em) {
    .info {
      display: none; } }
  .info__icon {
    margin-top: 5rem;
    height: 6.5rem;
    width: 6.5rem;
    fill: #fff;
    margin-bottom: auto; }
  .info__email {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 6.5rem; }

.form {
  width: 50rem;
  padding: 5rem;
  text-align: center;
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  @media (max-width: 37.5em) {
    .form {
      width: 100%;
      padding: 3rem;
      border-radius: 1rem; } }
  .form .form-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 40rem; }
    @media (max-width: 37.5em) {
      .form .form-group {
        width: 100%; } }
    .form .form-group__input {
      padding: 1.2rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      background-color: #eee;
      border: none;
      outline: none; }
      @media (max-width: 37.5em) {
        .form .form-group__input {
          padding: 1rem; } }
    .form .form-group__text {
      padding: 1.2rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      background-color: #eee;
      border: none;
      outline: none; }
      @media (max-width: 37.5em) {
        .form .form-group__text {
          padding: 1rem; } }

.margin-right {
  margin-right: 4.2rem; }

.footer-flex {
  display: flex;
  justify-content: space-around; }

.center {
  text-align: center; }

.footer__link:hover {
  fill: #eee; }

.footer-icon {
  margin-bottom: 2rem;
  width: 5rem;
  height: 5rem;
  fill: #fff;
  transition: all .2s; }
  .footer-icon:hover {
    fill: #000; }

.copyrights {
  display: flex;
  flex: 0 0 40%;
  border-top: 1px solid #fff; }
  .copyrights p {
    padding-top: 1rem;
    margin: auto;
    font-size: 1.4rem; }
